<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.fangcheng.mybatis.mapper.CategoryMapper">
	
	<select id="selectByBrandid" parameterType="java.lang.Integer" resultType="Category">
		SELECT 
		  f3.category_name cat1,
		  f2.category_name cat2,
		  f1.category_name cat3
		FROM
		  brand_category b,
		  category f1,
		  category f2,
		  category f3
		WHERE b.brand_id = #{brandid}
		  AND b.category_id = f1.category_id
		  AND f1.category_id_parent = f2.category_id 
		  AND f2.category_id_parent = f3.category_id
	</select>
	
	<select id="selectByCategoryid" parameterType="java.lang.Integer" resultType="Category">
		SELECT 
		  f3.category_name cat1,
		  f2.category_name cat2,
		  f1.category_name cat3 
		FROM
		  category f1
		  LEFT JOIN
		  category f2
		  ON  f1.category_id_parent = f2.category_id 
		  LEFT JOIN 
		  category f3 
		  ON  f2.category_id_parent = f3.category_id 
		  WHERE f1.category_id = #{categoryid}
<!--		SELECT 
		  f3.category_name cat1,
		  f2.category_name cat2,
		  f1.category_name cat3
		FROM
		  category f1,
		  category f2,
		  category f3
		WHERE f1.category_id = #{id}
		  AND f1.category_id_parent = f2.category_id 
		  AND f2.category_id_parent = f3.category_id
-->
	</select>
		<select id="selectCatOne" parameterType="java.lang.Integer" resultType="Category">
		SELECT 
		  c.category_name cat1,
		  "" cat2,
		  "" cat3
		FROM
		  category c 
		WHERE c.category_id_parent = #{categoryid}
	</select>
</mapper>


