<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.fangcheng.mybatis.mapper.PassportActivityMapper">
	
	<select id="selectActivity" parameterType="PassportActivity" resultType="PassportActivity">
		SELECT 
		  b.passport_id,
		  b.start_time,
		  b.browse_time_1 + b.browse_time_3 + b.browse_time_7 + b.browse_time_30 
		  + d.demand_time_1 + d.demand_time_3 + d.demand_time_7 + d.demand_time_30 
		  + l.login_time_1 + l.login_time_3 + l.login_time_7 + l.login_time_30 AS activity 
		FROM
		  fangcheng_data_team.day_logger_user_browse_h b,
		  fangcheng_data_team.day_logger_user_demand_h d,
		  fangcheng_data_team.day_logger_user_login_h l 
		WHERE b.passport_id = d.passport_id 
		  AND d.passport_id = l.passport_id 
		  AND b.start_time = d.start_time 
		  AND d.start_time = l.start_time 
		  AND b.passport_id = #{passport_id} 
		  AND b.start_time = #{start_time}
	</select>
	
</mapper>


